{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href=" {% static 'styles/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Password Reset Sent</h1>
        <p style="margin-bottom: 20px; font-size: large;">We've emailed you the instructions for setting your password, if an account exists with the email you entered. You should recieve them shortly.</p>
        <p style="margin-bottom: 20px; font-size: large;">If you don't recieve an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </div>
</body>
</html>