{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href=" {% static 'styles/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Password Reset Done</h1>
        <p style="margin-bottom: 20px; font-size: large;">Your password has been reset. You may log in now.</p>
        <a class="login-btn" href="{% url 'login' %}">Login</a>  
    </div>
</body>
</html>